In [1]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
from IPython.display import Image
import matplotlib
%matplotlib inline
matplotlib.style.use('ggplot')

<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

In [2]:
%%javascript
$.getScript('misc/kmahelona_ipython_notebook_toc.js')

see ***Installation_Customization_Resources.txt*** for useful infos and links

# IPython: beyond plain Python

IPython provides a rich toolkit to help you make the most out of using Python, with:

- ****TAB COMPLETION****
- ***Powerful Python shells*** (terminal and Qt-based).
- A web-based notebook with the same core features but support for code, text, mathematical expressions, inline plots and other rich media.
- Support for **interactive data visualization** and use of GUI toolkits.
- Flexible, embeddable interpreters to load into your own projects.
- Easy to use, high performance tools for parallel computing.

http://ipython.org/ipython-doc/stable/interactive/tutorial.html

http://ipython.readthedocs.io/en/stable/

# Jupyter notebook
The Jupyter Notebook is an ***open-source web application*** that allows you to ***create and share documents*** that contain live code, equations, visualizations and explanatory text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, machine learning and much more.

Checkout the "command palette" for useful commands and shortcuts.

In [3]:
from IPython.core.display import HTML
HTML("<iframe src=https://jupyter.readthedocs.io/en/latest/_images/notebook_components.png width=800 height=400></iframe>")

## Navigation

- ***`Esc` and `Enter` to toggle between "Command" and "Edit" mode*** --> see colour indicator of frame surrounding the cell

- when in "Command" mode:
    - use cursor keys to navigate
    - `a` to insert cell Above
    - `b` to insert cell Below
    - `dd` to delete cell

- when in "Edit" mode:
    - `Tab` for tab completion of file-names
    - `Shift` + `Tab` in parenthesis of function to display docstring
    - `Cmd` + `/` toggle line comment

## Running code, getting help

In the notebook, to run a cell of code, hit ***`Shift + Enter`***. This executes the cell and puts the cursor in the next cell below, or makes a new one if you are at the end.  Alternately, you can use:
    
- `Alt + Enter` to force the creation of a new cell unconditionally (useful when inserting new content in the middle of an existing notebook).
- `Control + Enter` executes the cell and keeps the cursor in the same cell, useful for quick experimentation of snippets that you don't need to keep permanently.
- `Esc` and `Enter` to toggle between "Command" and "Edit" mode --> see colour indicator of frame surrounding the cell
- `h` for Help or checkout "Help" --> "Keyboard shortcuts" from the menu
- ***`Shift + Tab` inside of the brackets of a function to get the Docstring***
- ***`Cmd + /` to toggle line comment***

## Shell commands

In [4]:
!pwd

/Users/dblyon/modules/cpr/PandasIntro

In [5]:
!ls -la

total 3432
drwxr-xr-x  17 dblyon  staff     578 Apr 27 23:19 .
drwxr-xr-x  14 dblyon  staff     476 Apr 27 23:12 ..
drwxr-xr-x  13 dblyon  staff     442 Apr 27 23:16 .git
-rw-r--r--   1 dblyon  staff    1045 Apr 27 23:12 .gitignore
drwxr-xr-x   4 dblyon  staff     136 Apr 27 23:19 .ipynb_checkpoints
-rw-r--r--   1 dblyon  staff   19795 Apr 27 23:17 Exercises_part_A.ipynb
-rw-r--r--   1 dblyon  staff   38974 Apr 27 23:12 Exercises_part_A_with_Solutions.ipynb
-rw-r--r--   1 dblyon  staff   21819 Apr 27 23:19 Exercises_part_B.ipynb
-rw-r--r--   1 dblyon  staff  260967 Apr 27 23:12 Exercises_part_B_with_Solutions.ipynb
-rw-r--r--   1 dblyon  staff    3867 Apr 27 23:12 Installation_Customization_Resources.txt
-rw-r--r--   1 dblyon  staff    1067 Apr 27 23:12 LICENSE
-rw-r--r--   1 dblyon  staff  685284 Apr 27 23:12 Pandas_Cheat_Sheet.pdf
-rw-r--r--   1 dblyon  staff  700248 Apr 27 23:12 Pandas_Introduction.ipynb
-rw-r--r--@  1 dblyon  staff    3429 Apr 27 23:16 Readme.md
-rw-r--r--   1 dblyon  staff    3478 Apr 27 23:12 Readme.txt
drwxr-xr-x   9 dblyon  staff     306 Apr 27 23:12 data
drwxr-xr-x   4 dblyon  staff     136 Apr 27 23:12 misc

In [6]:
var = !ls
len(var), var[:3]

(12,
 ['Exercises_part_A.ipynb',
  'Exercises_part_A_with_Solutions.ipynb',
  'Exercises_part_B.ipynb'])

In [7]:
%%bash
echo "My shell is:" $SHELL
echo "My disk usage is:"
df -h

My shell is: /bin/zsh
My disk usage is:
Filesystem                          Size   Used  Avail Capacity iused      ifree %iused  Mounted on
/dev/disk1                         465Gi  404Gi   61Gi    87% 1938545 4293028734    0%   /
devfs                              186Ki  186Ki    0Bi   100%     645          0  100%   /dev
map -hosts                           0Bi    0Bi    0Bi   100%       0          0  100%   /net
map auto_home                        0Bi    0Bi    0Bi   100%       0          0  100%   /home
localhost:/IasP10O30clRK_kqj-ftyr  465Gi  465Gi    0Bi   100%       0          0  100%   /Volumes/MobileBackups

## helpful IPython commands

command  | description
-------- | -----------
? | Introduction and overview of IPython’s features.
%quickref | Quick reference.
help | Python’s own help system.
?object | Details about ‘object’, use ‘??object’ for extra details.

In [8]:
# ?math.log

In [9]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x[, base])

    Return the logarithm of x to the given base.
    If the base not specified, returns the natural logarithm (base e) of x.

press `Shift + Tab` inside of the brackets to get the Docstring

In [10]:
# math.log()

## Magic

In [11]:
# %magic

In [12]:
values = range(1, 1001)

In [13]:
%%timeit 
results = []
for val in values:
    new_val = math.log(val, 10)
    results.append(new_val)

1000 loops, best of 3: 296 µs per loop

In [14]:
%%timeit 
results = [math.log(val, 10) for val in values]

1000 loops, best of 3: 235 µs per loop

In [15]:
%%timeit 
results = np.log10(values)

The slowest run took 4.29 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 3: 54.3 µs per loop

# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for doing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

#### Pandas cheat sheet 
(download the pdf or find it in the git repo of the current workshop)

https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf

# Object creation

Creating a Series by passing a list of values, letting pandas create a default integer index:

In [16]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a numpy array, with labeled columns:

In [17]:
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df

          A         B         C         D
0  0.862509  0.706499 -0.228192  1.107276
1  0.317693  1.532803 -2.498783  0.111307
2 -0.648042  0.744018 -0.111264  0.283261
3  2.303614 -0.939663 -1.908264  0.198415
4 -1.954360 -0.421131 -0.870676  0.475727
5 -0.467782  0.398872  0.751447 -0.394088

Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [18]:
df2 = pd.DataFrame({'A' : 1.,                    
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D' : np.array([3] * 4, dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo',
                    'tinyRick': pd.Series([2000])})
df2

     A          B    C  D      E    F  tinyRick
0  1.0 2013-01-02  1.0  3   test  foo    2000.0
1  1.0 2013-01-02  1.0  3  train  foo       NaN
2  1.0 2013-01-02  1.0  3   test  foo       NaN
3  1.0 2013-01-02  1.0  3  train  foo       NaN

Having specific dtypes (data types)

In [19]:
df2.dtypes

A                  float64
B           datetime64[ns]
C                  float32
D                    int32
E                 category
F                   object
tinyRick           float64
dtype: object

change the dtype

In [20]:
df2["D"] = df2["D"].astype('float64')

# Viewing Data

See the top & bottom rows of the frame

In [21]:
df.head()

          A         B         C         D
0  0.862509  0.706499 -0.228192  1.107276
1  0.317693  1.532803 -2.498783  0.111307
2 -0.648042  0.744018 -0.111264  0.283261
3  2.303614 -0.939663 -1.908264  0.198415
4 -1.954360 -0.421131 -0.870676  0.475727

In [22]:
df.tail(3)

          A         B         C         D
3  2.303614 -0.939663 -1.908264  0.198415
4 -1.954360 -0.421131 -0.870676  0.475727
5 -0.467782  0.398872  0.751447 -0.394088

Display the index, columns, and the underlying numpy data

In [23]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [24]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [25]:
df.values

array([[ 0.86250928,  0.70649948, -0.22819165,  1.10727555],
       [ 0.31769284,  1.53280309, -2.49878286,  0.11130726],
       [-0.64804245,  0.74401834, -0.11126353,  0.28326111],
       [ 2.3036136 , -0.93966347, -1.90826396,  0.19841459],
       [-1.95435963, -0.4211305 , -0.87067561,  0.47572705],
       [-0.46778198,  0.39887206,  0.75144714, -0.39408757]])

Describe shows a quick statistic summary of your data excluding NaN (Not a Number) values

In [26]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.068939  0.336900 -0.810955  0.296983
std    1.454735  0.887761  1.210512  0.492033
min   -1.954360 -0.939663 -2.498783 -0.394088
25%   -0.602977 -0.216130 -1.648867  0.133084
50%   -0.075045  0.552686 -0.549434  0.240838
75%    0.726305  0.734639 -0.140496  0.427611
max    2.303614  1.532803  0.751447  1.107276

Concise summary of a DataFrame

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 7 columns):
A           4 non-null float64
B           4 non-null datetime64[ns]
C           4 non-null float32
D           4 non-null float64
E           4 non-null category
F           4 non-null object
tinyRick    1 non-null float64
dtypes: category(1), datetime64[ns](1), float32(1), float64(3), object(1)
memory usage: 228.0+ bytes

Transposing your data

In [28]:
df.T

          0         1         2         3         4         5
A  0.862509  0.317693 -0.648042  2.303614 -1.954360 -0.467782
B  0.706499  1.532803  0.744018 -0.939663 -0.421131  0.398872
C -0.228192 -2.498783 -0.111264 -1.908264 -0.870676  0.751447
D  1.107276  0.111307  0.283261  0.198415  0.475727 -0.394088

Sorting by values

In [29]:
df.sort_values(by='B')

          A         B         C         D
3  2.303614 -0.939663 -1.908264  0.198415
4 -1.954360 -0.421131 -0.870676  0.475727
5 -0.467782  0.398872  0.751447 -0.394088
0  0.862509  0.706499 -0.228192  1.107276
2 -0.648042  0.744018 -0.111264  0.283261
1  0.317693  1.532803 -2.498783  0.111307

# Selection

important ones:
- **.loc** works on **label** of index and boolean array
- **.iloc** works on integer **position**  (from 0 to length-1 of the axis)

for completeness/comparison:
- .ix first performs label based, if that fails then it falls to integer based --> don't use it (deprecated soon, prone to mistakes)
- .at get scalar values. It's a very fast loc
- .iat Get scalar values. It's a very fast iloc

CAVEATS: **label-based slicing in pandas is inclusive**. The primary reason for this is that it is often not possible to easily determine the “successor” or next element after a particular label in an index.

## Getting

Selecting a single column, which yields a Series.

In [30]:
df["A"]

0    0.862509
1    0.317693
2   -0.648042
3    2.303614
4   -1.954360
5   -0.467782
Name: A, dtype: float64

equivalent

In [31]:
df.A

0    0.862509
1    0.317693
2   -0.648042
3    2.303614
4   -1.954360
5   -0.467782
Name: A, dtype: float64

selecting with a list of column names, yields a data frame (also with a single column name)

In [32]:
df[["A", "C"]]

          A         C
0  0.862509 -0.228192
1  0.317693 -2.498783
2 -0.648042 -0.111264
3  2.303614 -1.908264
4 -1.954360 -0.870676
5 -0.467782  0.751447

Selecting via [], which slices the rows.

In [33]:
df[0:3]

          A         B         C         D
0  0.862509  0.706499 -0.228192  1.107276
1  0.317693  1.532803 -2.498783  0.111307
2 -0.648042  0.744018 -0.111264  0.283261

## Selection by Label

df.loc[rows, columns]

.loc is primarily label based, but may also be used with a boolean array. .loc will raise KeyError when the items are not found. Allowed inputs are:
- A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index. This use is not an integer position along the index)
- A list or array of labels ['a', 'b', 'c']
- A slice object with labels 'a':'f', (note that contrary to usual python slices, both the start and the stop are included!)
- A boolean array
- A callable function with one argument (the calling Series, DataFrame or Panel) and that returns valid output for indexing (one of the above)

In [34]:
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df

          A         B         C         D
0  1.484957  0.400273 -2.323854  0.095847
1 -0.335011 -0.260325  1.648283 -0.312750
2  0.662640  0.283537 -1.928428  0.355898
3  0.421878 -0.186683 -1.939785  0.372406
4  0.600717 -1.080815  1.000802  1.131586
5  1.095042  0.606789  0.194835  0.850725

In [35]:
# Let's transpose the DataFrame and change the order of the columns (to force us to the string labels of the novel row index).
# row-index: Strings, columns: Integers
dfx = df.T
import random
columns = dfx.columns.tolist()
random.shuffle(columns)
dfx.columns = columns
dfx

          2         4         5         0         1         3
A  1.484957 -0.335011  0.662640  0.421878  0.600717  1.095042
B  0.400273 -0.260325  0.283537 -0.186683 -1.080815  0.606789
C -2.323854  1.648283 -1.928428 -1.939785  1.000802  0.194835
D  0.095847 -0.312750  0.355898  0.372406  1.131586  0.850725

In [36]:
dfx.loc["A":"C", ]

          2         4         5         0         1         3
A  1.484957 -0.335011  0.662640  0.421878  0.600717  1.095042
B  0.400273 -0.260325  0.283537 -0.186683 -1.080815  0.606789
C -2.323854  1.648283 -1.928428 -1.939785  1.000802  0.194835

In [37]:
dfx.loc[["C", "A", "D"], ]

          2         4         5         0         1         3
C -2.323854  1.648283 -1.928428 -1.939785  1.000802  0.194835
A  1.484957 -0.335011  0.662640  0.421878  0.600717  1.095042
D  0.095847 -0.312750  0.355898  0.372406  1.131586  0.850725

In [38]:
dfx.loc[["A", "D"], 0:2]

Empty DataFrame
Columns: []
Index: [A, D]

# Selection by Position

df.iloc[rows, columns]

.iloc is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array. .iloc will raise IndexError if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing. (this conforms with python/numpy slice semantics). Allowed inputs are:
- An integer e.g. 5
- A list or array of integers [4, 3, 0]
- A slice object with ints 1:7
- A boolean array
- A callable function with one argument (the calling Series, DataFrame or Panel) and that returns valid output for indexing (one of the above)

In [39]:
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df

          A         B         C         D
0 -0.598675 -0.468226  1.432920  0.052475
1  0.573924 -0.727756 -0.125038 -0.028259
2  0.742996 -0.574869  0.966137 -0.198533
3 -0.310119  0.170419 -1.049314 -0.997908
4  0.163576 -0.788493 -1.763811  1.832724
5 -1.081318 -1.244992  3.162925 -0.839869

In [ ]:
### transpose
# df = df.T
# df

In [ ]:
df.iloc[0:3, :]

          A         B         C         D
0 -0.598675 -0.468226  1.432920  0.052475
1  0.573924 -0.727756 -0.125038 -0.028259
2  0.742996 -0.574869  0.966137 -0.198533

uncomment the transpose and execute the two cells above again and notice that this doesn't raise an Error compared to label based indexing.

In [ ]:
df.iloc[[1, 3, 5], 1:3]

          B         C
1 -0.727756 -0.125038
3  0.170419 -1.049314
5 -1.244992  3.162925

# Boolean indexing

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df

          A         B         C         D
0  0.601525  0.889616  0.191078  0.038879
1  2.329583  0.585477  0.549341 -0.544135
2 -0.008686 -0.910936  1.632175  1.485475
3 -0.383286  0.840635 -0.398020 -0.728435
4  1.847831  2.276967 -0.005402 -0.484687
5 -0.281640 -2.513343 -0.312005 -0.302935

Using a single column’s values to select data.

In [ ]:
df[df["A"] > 0]

          A         B         C         D
0  0.601525  0.889616  0.191078  0.038879
1  2.329583  0.585477  0.549341 -0.544135
4  1.847831  2.276967 -0.005402 -0.484687

A where operation for getting.

In [ ]:
df[df > 0]

          A         B         C         D
0  0.601525  0.889616  0.191078  0.038879
1  2.329583  0.585477  0.549341       NaN
2       NaN       NaN  1.632175  1.485475
3       NaN  0.840635       NaN       NaN
4  1.847831  2.276967       NaN       NaN
5       NaN       NaN       NaN       NaN

This comparison yields a Pandas.Series of Booleans.

In [ ]:
cond = df["A"] > 0
print type(cond)
cond

<class 'pandas.core.series.Series'>

0     True
1     True
2    False
3    False
4     True
5    False
Name: A, dtype: bool

Summing boolean arrays can come in handy (True=1, False=0)

In [ ]:
sum(cond), len(cond) # or cond.sum(), cond.shape[0]

(3, 6)

**Frequent use case**: combining a Series of Bools with specific column names to select data.

In [ ]:
df.loc[cond, ["A", "C"]]

          A         C
0  0.601525  0.191078
1  2.329583  0.549341
4  1.847831 -0.005402

Let's add a column to the DataFrame

In [ ]:
df['E'] = ['one', 'one','two','three','four','three']

In [ ]:
df

          A         B         C         D      E
0  0.601525  0.889616  0.191078  0.038879    one
1  2.329583  0.585477  0.549341 -0.544135    one
2 -0.008686 -0.910936  1.632175  1.485475    two
3 -0.383286  0.840635 -0.398020 -0.728435  three
4  1.847831  2.276967 -0.005402 -0.484687   four
5 -0.281640 -2.513343 -0.312005 -0.302935  three

Using the isin() method for filtering:

In [ ]:
df[df['E'].isin(['two','four'])]

          A         B         C         D     E
2 -0.008686 -0.910936  1.632175  1.485475   two
4  1.847831  2.276967 -0.005402 -0.484687  four

# Setting

**Setting a new column automatically aligns the data by the indexes**

In [ ]:
dates = pd.date_range('20130101', periods=6)
dfx = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
dfx

                   A         B         C         D
2013-01-01 -0.870366  0.321974  1.563101 -0.728357
2013-01-02  0.042983  0.652787 -0.940792  1.193541
2013-01-03 -0.504582  1.327217 -0.248468  0.299949
2013-01-04 -0.948651  0.699422  0.276988 -0.549065
2013-01-05 -1.094061 -0.327046  1.610302 -1.226864
2013-01-06  1.112359  0.564618  0.292444 -0.319053

In [ ]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1 = s1.sort_values(ascending=False)
s1

2013-01-07    6
2013-01-06    5
2013-01-05    4
2013-01-04    3
2013-01-03    2
2013-01-02    1
dtype: int64

In [ ]:
dfx["F"] = s1
dfx

                   A         B         C         D    F
2013-01-01 -0.870366  0.321974  1.563101 -0.728357  NaN
2013-01-02  0.042983  0.652787 -0.940792  1.193541  1.0
2013-01-03 -0.504582  1.327217 -0.248468  0.299949  2.0
2013-01-04 -0.948651  0.699422  0.276988 -0.549065  3.0
2013-01-05 -1.094061 -0.327046  1.610302 -1.226864  4.0
2013-01-06  1.112359  0.564618  0.292444 -0.319053  5.0

Setting values by label

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df['E'] = ['one', 'one','two','three','four','three']
df

          A         B         C         D      E
0  1.281770  0.955882 -0.807404  0.433401    one
1 -0.312017 -0.841017 -0.271323  0.546028    one
2 -0.669583 -1.053441  0.971567 -0.283668    two
3  0.815135 -1.338608  0.428754 -0.807356  three
4 -1.043039 -0.393327  1.154729 -0.245720   four
5  0.403212 -0.283959  0.537553 -1.068461  three

In [ ]:
df.loc[5, "A"] = 0.815

Setting values by position

In [ ]:
df.iloc[0, 4] = "zero"

delete (drop) some rows

In [ ]:
df.drop([3, 5])

          A         B         C         D     E
0  1.281770  0.955882 -0.807404  0.433401  zero
1 -0.312017 -0.841017 -0.271323  0.546028   one
2 -0.669583 -1.053441  0.971567 -0.283668   two
4 -1.043039 -0.393327  1.154729 -0.245720  four

delete (drop) a column

In [ ]:
df = df.drop("E", axis=1)
df

## Axis

- default: axis=0
- axis=0 is "column-wise", for each column, along the rows
- axis=1 is "row-wise", for each row, along the columns

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df

A where operation with setting.

In [ ]:
df[df > 0] = -df
df

Multiply with a scalar.

In [ ]:
df = df * -1
df

Row wise division

In [ ]:
df["F"] = df["A"] / df["B"]
df

# Missing Data

pandas primarily uses the value np.nan to represent missing data.

In [ ]:
df.loc[0, ] = np.nan
df.loc[2, ["A", "C"]] = np.nan
df

To drop any rows that have missing data.

In [ ]:
df.dropna()

Drop only rows where `all` values are missing.

In [ ]:
df.dropna(how='all')

Fill missing values

In [ ]:
df.fillna(value=5)

see **`replace`** method to replace values given in 'to_replace' with 'value'.

To get the boolean mask where values are nan

In [ ]:
df.isnull() # or pd.isnull(df)

In [ ]:
df.notnull() == -df.isnull()

# Duplicates

In [ ]:
dfx = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
dfx

Drop duplicates except for the first occurrence, considering only a certain column.

In [ ]:
dfx.drop_duplicates(subset="A")

see also **`duplicated`** method to return boolean Series denoting duplicate rows, optionally only considering certain columns

In [ ]:
df

# Operations

## Stats
Operations in general exclude missing data.

Performing a descriptive statistic

In [ ]:
df.mean()

On the other axis

In [ ]:
df.median(axis=1)

The full range of basic statistics that are quickly calculable and built into the base Pandas package are:

|  Function | Description  |
|:---:|:---:|
|  count | Number of non-null observations  | 
|  sum | Sum of values  | 
|  mean | Mean of values  | 
|  mad | Mean absolute deviation  | 
|  median | Arithmetic median of values  | 
|  min | Minimum  | 
|  max | Maximum  | 
|  mode | Mode  | 
|  abs | Absolute Value  | 
|  prod | Product of values  | 
|  std | Bessel-corrected sample standard deviation  | 
|  var | Unbiased variance  | 
|  sem | Standard error of the mean  | 
|  skew | Sample skewness (3rd moment)  | 
|  kurt | Sample kurtosis (4th moment)  | 
|  quantile | Sample quantile (value at %)  | 
|  cumsum | Cumulative sum  | 
|  cumprod | Cumulative product  | 
|  cummax | Cumulative maximum  | 
|  cummin | Cumulative minimum  |

The need for custom functions is minimal unless you have very specific requirements. c.f.
http://pandas.pydata.org/pandas-docs/stable/basics.html

e.g. compute pairwise covariance of columns, excluding NA/null values

In [ ]:
df.cov()

# Apply

Applying functions to the data

In [ ]:
df = pd.DataFrame(np.random.randint(0,100,size=(6, 4)), columns=list('ABCD'))
df

In [ ]:
df.apply(np.cumsum, axis=0)

In [ ]:
df.apply(lambda x: x.max() - x.min())

# Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

## Concat

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
# break it into multiple pieces
pieces = [df[3:7], df[:3], df[7:]]
pd.concat(pieces)

## Join

SQL style merges.

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['bar', 'foo'], 'rval': [4, 5]})
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on='key')

## Append

Append rows to a dataframe.

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
s = df.iloc[3]
df

In [ ]:
df.append(s, ignore_index=True)

# Grouping

By “group by” we are referring to a process involving one or more of the following steps

- **Splitting** the data into groups based on some criteria
- **Applying** a function to each group independently
- **Combining** the results into a data structure
![title](img/SplitApplyCombine.jpg)

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

Grouping and then applying a function sum to the resulting groups.

In [ ]:
df.groupby('A').sum()

Grouping by multiple columns forms a hierarchical index, which we then apply the function.

In [ ]:
df.groupby(['A','B']).sum()

Series.nlargest: Return the largest n elements.
Series.nsmallest: Return the smallest n elements.

In [ ]:
df.groupby('A')["C"].nlargest(2)

## Splitting

Iterate over a groupby object, just to illustrate the **split** part of the groupby method.

In [ ]:
grouped = df.groupby(['A','B'])
for name, group in grouped:
    print "Name:", name
    print group
    print "#"*50

## Applying

- **Aggregation**: computing a summary statistic (or statistics) about each group. Some examples:
    - Compute group sums or means
    - Compute group sizes / counts
    
- **Transformation**: perform some group-specific computations and return a like-indexed. Some examples:
    - Standardizing data (zscore) within group
    - Filling NAs within groups with a value derived from each group

- **Filtration**: discard some groups, according to a group-wise computation that evaluates True or False. Some examples:
    - Discarding data that belongs to groups with only a few members
    - Filtering out data based on the group sum or mean

### Aggregation

"reduces" the DataFrame, meaning the df_original.shape > df_aggregated.shape

In [ ]:
grouped.aggregate(["sum", "count", "median", "mean"]) # see `Operations` above for more built-in methods

### Transformation

returns an object that is indexed the same (same size) as the one being grouped. Thus, the passed transform function should return a result that is the same size as the group chunk.

In [ ]:
df = pd.DataFrame({'a': [1, 2, 3, 4, 5, 6],
                   'b': [1, 2, 3, 4, 5, 6],
                   'c': ['q', 'q', 'q', 'q', 'w', 'w'],  
                   'd': ['z','z','z','o','o','o']})
df['e'] = df['a'] + df['b']
df

In [ ]:
df['f'] = (df.groupby(['c', 'd'])['e'].transform('sum'))
df

In [ ]:
assert df.loc[0, "f"] == df.loc[( (df["c"] == "q") & (df["d"] == "z") ), "e"].sum()

### Filtration

returns a subset of the original object.

In [ ]:
df = pd.DataFrame({'A': np.arange(8), 'B': list('aabbbbcc')})
df

In [ ]:
df.groupby('B').filter(lambda x: len(x) > 2)

## Apply

Another frequent operation is applying a function on 1D arrays to each column or row. 
Apply a custom function to the entire DataFrame or a Series. `axis` indicates row or column-wise application. (default: axis=0)

apply on a Series performs an element-wise operation

In [ ]:
def example_custom_function(number):
    if number >= 6:
        return number / 5.0
    elif number <= 3:
        return number * 88
    else:
        return np.nan

In [ ]:
df["A"].apply(example_custom_function)

apply on a DataFrame perform a Series-wise operation

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

In [ ]:
def example_custom_function_on_series_1(series):
    return series / series.sum()

In [ ]:
### notice how example_custom_function_on_series_1 return a single value per Series --> transformation
df.apply(example_custom_function_on_series_1)

In [ ]:
def example_custom_function_on_series_2(series):
    return series.max() - series.min()

In [ ]:
### notice how example_custom_function_on_series_2 return a single value per Series --> aggregation
df.apply(example_custom_function_on_series_2)

### Applymap

Element-wise Python functions can be used, too. You can do this with applymap:

In [ ]:
formater = lambda x: '%.2f' % x
df.applymap(formater)

### Map

The reason for the name applymap is that Series has a map method for applying an element-wise function:

In [ ]:
df["A"].map(formater)

# Reshaping

## Stack

“compresses” a level in the DataFrame’s columns.

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df2 = df[:4]
df2

In [ ]:
stacked = df2.stack()
stacked

## Unstack

the inverse operation of stack() is unstack(), which by default unstacks the last level

In [ ]:
stacked.unstack() # in this particular case equivalent to stacked.unstack(2)

In [ ]:
stacked.unstack(0)

In [ ]:
stacked.unstack(1)

## Pivot

We can produce pivot tables from this data very easily:

In [ ]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['a', 'b', 'c'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
df

In [ ]:
pd.pivot_table(df, values=['D', "E"], index=['A', 'B'], columns=['C'])

## Melt

“Unpivots” a DataFrame from wide format to long format, optionally leaving identifier variables set. This function is useful to massage a DataFrame into a format where one or more columns are identifier variables (id_vars), while all other columns, considered measured variables (value_vars), are “unpivoted” to the row axis, leaving just two non-identifier columns, ‘variable’ and ‘value’.

In [ ]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})
df

In [ ]:
pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])

# Plotting

On DataFrame, plot() is a convenience to plot all of the columns with labels. Using `%matplotlib inline` magic function enables plotting within the jupyter notebook cells (instead of e.g. in a separate Qt window).

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
df.plot()

In [ ]:
df.boxplot()

In [ ]:
df.plot(kind="scatter", x="A", y="B")

In [ ]:
df[["C", "D"]].sum().plot(kind="bar", x="C", y="D")

In [ ]:
axs = pd.scatter_matrix(df, figsize=(16,12), diagonal='kde')

# Getting data in and out

## reading data from file

tabular data such as CSV or tab-delimited txt files

In [ ]:
fn = r"data/Saliva.txt"
df = pd.read_csv(fn, sep='\t')
df.head(3)

from Excel

In [ ]:
xls = pd.ExcelFile('data/microbiome/MID1.xls')
print xls.sheet_names  # see all sheet names
df = xls.parse("Sheet 1", header=None)
df.columns = ["Taxon", "Count"]
df.head()

a current **list of I/O tools**:
- read_csv
- read_excel
- read_hdf
- read_sql
- read_json
- read_msgpack (experimental)
- read_html
- read_gbq (experimental)
- read_stata
- read_sas
- read_clipboard
- read_pickle

checkout the documentation http://pandas.pydata.org/pandas-docs/stable/ for more infos

## writing data to file

In [ ]:
fn_out = r"data/Tidy_data.txt"
df.to_csv(fn_out, sep='\t', header=True, index=False)

# Miscellaneous

## zip example

In [ ]:
xls = pd.ExcelFile('data/microbiome/MID1.xls')
df = xls.parse("Sheet 1", header=None)
df.columns = ["Taxon", "Count"]
df.head(3)

In [ ]:
df["superkingdom"], df["rest"] = zip(*df["Taxon"].apply(lambda x: x.split(" ", 1)))
df.head(3)

In [ ]:
df.superkingdom.unique()

## string processing methods

for Series and Index, to make it easy to operate on each element of the array. These methods exclude missing/NA values automatically. These are accessed via the *`str`* attribute and generally have names matching the equivalent (scalar) built-in string methods.

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s

In [ ]:
s.str.lower()

## Cut

Return indices of half-open bins to which each value of x belongs.
The cut function can be useful for **going from a continuous variable to a categorical variable**. For example, cut could convert ages to groups of age ranges.

In [ ]:
print pd.cut(np.array([.2, 1.4, 2.5, 6.2, 9.7, 2.1]), 3, retbins=True)

## rpy2 example

call an R function from Python

https://en.wikipedia.org/wiki/Quantile_normalization

https://bioconductor.org/packages/release/bioc/html/limma.html

In [ ]:
import rpy2.robjects as robjects
import rpy2.robjects.packages as rpackages
from rpy2.robjects.numpy2ri import numpy2ri
robjects.conversion.py2ri = numpy2ri

In [ ]:
dict_ = {"Intensity First"  : [5.0, 2.0, 3.0, 4.0],         
         "Intensity Second" : [4.0, 1.0, 4.0, 2.0],
         "Intensity Third"  : [3.0, 4.0, 6.0, 8.0]}
df = pd.DataFrame(dict_, index=list("ABCD"))
df

In [ ]:
def R_function_normalizeQuantiles():
    rpackages.importr('limma')
    normalizeQuantiles = robjects.r['normalizeQuantiles']
    return normalizeQuantiles

In [ ]:
def quantile_normalize(df, cols_2_norm):
    """
    :param df: DataFrame
    :param cols_2_norm: ListOfString (Columns to normalize)
    :return: DataFrame
    """
    normalizeQuantiles = R_function_normalizeQuantiles()

    # set Zero to NaN and transform to log-space
    df[cols_2_norm] = df[cols_2_norm].replace(to_replace=0.0, value=np.nan)
    df[cols_2_norm] = np.log10(df[cols_2_norm])

    # quantile normalize
    df[cols_2_norm] = np.array(normalizeQuantiles(df[cols_2_norm].values))

    # Transform back to non-log space and replace NaN with Zero
    df[cols_2_norm] = np.power(10, df[cols_2_norm])
    df[cols_2_norm] = df[cols_2_norm].replace(to_replace=np.nan, value=0.0)

    return df

In [ ]:
df_norm = quantile_normalize(df, df.columns.tolist())
df_norm

# now let's do some EXERCISES

open **Exercises_part_A.ipynb** and/or **Exercises_part_B.ipynb**